{% extends 'base.html.twig' %}

{% block title %}Liste des Réclamations{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Liste des Réclamations</h1>

        {% if reclamations|length > 0 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Utilisateur</th>
                    <th>Contenu</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.id }}</td>
                        <td>{{ reclamation.user.email }}</td>
                        <td>{{ reclamation.contenu }}</td>
                        <td>{{ reclamation.date|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-center">Aucune réclamation disponible.</p>
        {% endif %}
    </div>
{% endblock %}
